<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-secondary">
        <div class="container">
            <a class="navbar-brand" href="#">My Blog</a>
        </div>
    </nav>

    <section class="hero text-center py-5">
        <div class="container">
            <h1 class="mt-4 text-left style-times new roman"><strong>The life of a student</strong></h1>
        </div><br><br>
    </section>

    

    
    
<script src="/css/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/css/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>